/* ====================== All Pages ====================== */
html,
body,
.root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body,
.app {
  background: white;
}

/* ====================== CSS Variables ====================== */
:root {
  --primary-color: #5c6bc0;
  --primary-light-color: #8e99f3;
  --primary-dark-color: #26418f;
  --secondary-color: #dedede;
  --secondary-light-color: #fff;
  --secondary-dark-color: #000;
  --primary-color-overlay: rgba(92, 107, 192, 0.8);
  --primary-light-color-overlay: rgba(142, 153, 243, 0.8);
  --primary-dark-color-overlay: rgba(38, 65, 143, 0.8);
}

/* ====================== Typography ====================== */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size-adjust: 0.5;
}

body,
td,
th,
p,
ul,
li {
  font: 1em/1.25 'Montserrat', sans-serif;
  color: var(--secondary-dark-color);
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}

h1 {
  font-size: 2em;
  line-height: 1.25;
}

h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
}

h3 {
  font-size: 1.375em;
  line-height: 1.13636364;
}

h4 {
  font-size: 1.125em;
  line-height: 1.11111111;
}

@media (min-width: 768px) {
  body {
    font-size: 1em;
    line-height: 1.375;
  }

  h1 {
    font-size: 2.5em;
    line-height: 1.125;
  }

  h2 {
    font-size: 2em;
    line-height: 1.25;
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }

  h4 {
    line-height: 1.22222222;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 3em;
    line-height: 1.05;
  }

  h2 {
    font-size: 2.25em;
    line-height: 1.25;
  }

  h3 {
    font-size: 1.75em;
    line-height: 1.25;
  }
}

/* ====================== Main Page ====================== */
.list-books-title {
  padding: 10px 0;
  background: var(--primary-color);
  text-align: center;
}

.list-books-title h1 {
  font-weight: 400;
  margin: 0;
  color: white;
}

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--primary-dark-color);
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}

/* ====================== Search Page ====================== */
.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}

.search-books-input-wrapper {
  flex: 1;
  background: var(--secondary-light-color);
}

.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
  color: var(--primary-dark-color);
  font-family: Montserrat, sans-serif;
}

.search-books-bar input::placeholder {
  color: var(--primary-color);
  font-family: Montserrat, sans-serif;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.search-books-results {
  padding: 80px 10px 20px;
}

.no-search-results-message {
  text-align: center;
  font-size: 1.25em;
}

/* ====================== Bookshelf ====================== */
.bookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-title {
  border-bottom: 1px solid var(--secondary-color);
  color: var(--primary-dark-color);
}

.bookshelf-books {
  text-align: center;
}

/* ====================== Book Grid ====================== */
.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

/* ====================== Book ====================== */
.book {
  width: 140px;
}

.book-title {
  margin-top: 10px;
  color: var(--secondary-dark-color);
  font-weight: 500;
}

.book-authors {
  color: var(--primary-color);
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--primary-color);
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.book-shelf-icon {
  color: var(--primary-color);
  font-weight: 600;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5;
  position: absolute;
  right: 0;
  top: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  background: var(--secondary-light-color);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
          box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.book-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: var(--secondary-color);
}

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

/* ====================== Modal Content ====================== */
/* Note: Modal CSS and JS inspired by
  - https://tympanus.net/Development/ModalWindowEffects/
  - https://alligator.io/react/modal-component/
  - https://assortment.io/posts/accessible-modal-component-react-portals-part-1
  - https://github.com/udacity/ud891/tree/gh-pages/lesson5-semantics-aria/21-dialog
*/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90vw;
  max-width: 630px;
  height: auto;
  z-index: 2000;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

}

.modal-show {
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  backface-visibility: visible;
  visibility: visible;
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  background: var(--primary-dark-color-overlay);
}

.modal-show ~ .modal-overlay {
  opacity: 1;
  visibility: visible;
}

/* Modal Opening/Closing Effect:
   Fade in and scale up */
.modal-effect .modal-content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-show.modal-effect .modal-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

/* Lock the scroll position on everything behind the modal (<html> element) */
.disable-scrolling {
  overflow: hidden !important;
}

/* Modal Content */
.modal-content {
  position: relative;
  border-radius: 3px;
  margin: 0 auto;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Modal Header */
.modal-header {
  text-align: center;
  border-radius: 3px 3px 0 0;
  padding: 1em;
  background: var(--primary-dark-color);
  color: var(--secondary-light-color);
  position: relative;
}

.modal-heading {
  margin: 0.3333em 0;
}

.button-close-modal {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font: inherit;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.3333em;
  font-size: 1.5em;
}

/* Modal Body */
.modal-body {
  padding: 1em 2em;
  text-align: center;
  background: var(--secondary-light-color);
  color: var(--primary-dark-color);
  text-align: left;
}

.modal-subheading {
  margin: 0 0 0.5em 0;
  text-align: center;
}

/* Modal Footer */
.modal-footer {
  padding: 1em;
  background: var(--secondary-light-color);
  color: var(--primary-dark-color);
}

@media screen and (max-height: 450px) {
  .modal-heading {
    padding: 0;
    margin: 0;
  }

  .modal-body {
    padding: 0;
  }

  .modal-footer {
    padding: 0.5em;
  }
}